.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.Title p{
  width: 85px;
  height: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  
  color: #999999; 

  margin: 14px 118px 24px 15px;
}

.Title a {
  text-decoration: none;
  width: 58px;
  height: 14px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  
  text-align: center;
  color: #262626;

  margin: 16px 15px 24px 0;
}

.Body {
  display: flex;
  width: 263px;
  height: 32px;
  margin: 0 15px 17px 15px
}

.Body img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 6px 0 8px;
}

.Body p {
  width: 58px;
  height: 13px; 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  
  color: #1876F2;
}

.User {
  width: 73px;
  height: 30px;
  margin: 0 87px 0 0; 
}

.User a {
  width: 73px;
  height: 30px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal; 
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  
  color: #262626;
}

.User p {
  width: 73px;
  height: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: 0;
  color: #999999;
}

