
.Header {
  display: flex;
  border-bottom: 1px solid #DDDDDD;
}

.Header p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  width: 80px;
  height: 21px;
  color: #050505;

  margin: 16px 151px 13px 10px; 
}

.btnFilter button {
  background: #E4E6EB;
  border-radius: 5px;
  border: none;
  width: fit-content;
  height: fit-content;

  margin: 13px 10px 12px 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #050505;

  width: 92px;
  height: 25px;

  cursor: pointer;

  font-family: 'Roboto';
}

.btnFilter img {
  margin-right: 5.55px;
}

.btnFilter button:hover {
  background-color: #d8d8d8;
}

.btnFilter button:focus {
  outline: none;
}

.btnManager button {
  background: #E4E6EB;
  border-radius: 5px;
  border: none;
  width: fit-content;
  height: fit-content;

  margin: 13px 12px 12px 0;

  width: 145px;
  height: 25px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #050505;
  cursor: pointer;

  font-family: 'Roboto';
}

.btnManager img {
  margin-right: 5.55px;
}

.btnManager button:hover {
  background-color: #d8d8d8;
}

.btnManager button:focus {
  outline: none;
}

.View {
  display: flex;
  justify-content: space-around;
}

.List {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  width: 210px;
  border-bottom: 1px solid #1876F2;
  padding: 14px 0 14px 0;
  cursor: pointer;
}

.List img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.List p {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #1876F2;
}

.Grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 210px;
  cursor: pointer;
  padding: 6px 0 6px 0;
}

.GridChild {
  display: flex;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
}

.GridChild:hover {
  background-color: #f3f3f3;
}


.Grid img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.Grid p {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #65676B;
}