body {
  display: flex;
  justify-content: center;
  padding: 50px;
  background: #F0F2F5;
  
  font-family: 'Roboto';
}

.view-post-main {
  border-radius: 8px;
  background: #fff;
  width: 500px;
  height: 100px;
  box-sizing: border-box;
}